<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GOTO web page</title>
  </head>
  <body>
    {{> header}}

    <p>Some goto page...</p>


  {{> footer}}
  </body>
</html>
